.jacquard-12-regular {
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
  }


 .main{
    height: 100px;
    width: 100px;
    display: flex;
}
.item1{
    background-color: brown;
    opacity: 0.0;
}
.item2{
    background-color: brown;
    opacity: 0.1;
}
.item3{
    background-color: brown;
    opacity: 0.2;
}
.item4{
    background-color: brown;
    opacity: 0.3;
}
.item5{
    background-color: brown;
    opacity: 0.4;
}
.item6{
    background-color: brown;
    opacity: 0.5;
}
.item7{
    background-color: brown;
    opacity: 0.6;
}
.item8{
    background-color: brown;
    opacity: 0.7;
}
.item9{
    background-color: brown;
    opacity: 0.8;
}
.item10{
    background-color: brown;
    opacity: 0.9;
}
.item11{
    background-color: brown;
    opacity: 1.1;
} 

   