/*content and border box sizing*/

.content{
    height: 100px;
    width: 100px;
    padding: 15px;
    border: 1px solid red;
    background-color: black;
    box-sizing: content-box;
    display: inline-block;
}
.border{
    height: 100px;
    width: 100px;
    padding: 15px;
    border: 1px solid red;
    background-color: black;
    box-sizing: border-box;
    display: inline-block;
}
