/* .path-x{
    border: 1px solid maroon;
    padding: 10px;
}
.translate{
    background-color: blue;
    height: 100px;
    width: 100px;
}
.path-x:hover .translate{
            transform: translate(200px);
            transform: rotate(90deg);
            transform: scale(2);
            transform: skew(45deg);
}
.path-y{
    margin: 10px;
    border: 1px solid brown;
    padding: 10px;
}
.path-y:hover .translate{
    transform: translate(200px);
    transform: rotate(90deg);
    transform: scale(2);
    transform: skew(45deg);
} */
/* .image img{
   height: 100px;
   width: 100px;
   overflow: hidden;
}
.image img:hover{
    transform: scale(2);
    transition: 2s;
} */

.path{
    border: 1px solid red;
    padding: 20px;
}
.transition{
    height: 100px;
    width: 100px;
    background-color: blue;
}
.path:hover .transition{
    width: 100px;
    height: 100px;
    transform: translate(900px);
    /* transition-delay: 5s; */
    /* transition-duration: 5s; */
    /* transition-property: height; */
    /* transition-timing-function:linear ; */
    /* transition-timing-function: ease; */
    /* transition-timing-function: ease-in; */
    /* transition-timing-function: ease-in-out; */
    /* transition-timing-function: ease-out; */
}
