*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background: #1ce37c;
}
ul{
    position: relative;
    background: #fff;
    display: flex;
    margin-top: 300px;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
 ul li{
    list-style: none;
    line-height: 30px;
    margin: 0 5px;
    padding: 5px;
}
ul li .pageNumber{
    width: 40px;
    height: 10px;
    line-height: 50px;
    text-align: center;
  
}
ul li a{
    display: block;
    text-decoration: none;
    color: #777;
    font-weight: 600;
    border-radius: 150%;
}
ul li.pageNumber :hover {
    background-color: #777;
    color:red;
} 
